/*1319435474,169775559*/

.contact_importer_widget.ci_nateon .nateon_username{width:96px}
.contact_importer_widget.ci_nateon .nateon_domain{width:80px}
.findfriends_submit{background:#6D84B4 url(../../yu/r/Y4_2_kJqyhn.gif) repeat-x scroll center top;border:1px solid #315091;display:block;float:left;margin:0 0 0 -1px;padding:1px 2px 0 2px}
.findfriends_submit input{width:1px;height:1px;position:absolute;top:-1000px;overflow:hidden}
.findfriends_glass{background:#6D84B4 url(../../y9/r/Z6rULnd-GE-.png) no-repeat scroll 0 70%;display:block;height:19px;margin:0;padding:0 0 1px;width:19px}
#nux_todos .search_query .inputtext{float:left;padding:4px 3px 3px 3px;line-height:14px;margin:0}

#bootloader_ZKVDh { height: 42px; }