/*1320698338,176833974*/

.sp_73ss2p{background-image:url(../../yu/r/cJ64VhQYndG.png);background-repeat:no-repeat;display:inline-block;height:35px;width:35px}
.sx_4f0857{background-position:-0px -0px}
.sx_63603f{background-position:-0px -36px}
.sx_0e456e{background-position:-0px -72px}
.sx_e95caa{background-position:-0px -108px}
.sx_d04211{background-position:-0px -144px}
.sx_374d4f{background-position:-0px -180px}
.sx_043069{background-position:-0px -216px}
.sx_63e8ef{background-position:-0px -252px}
.sx_307291{background-position:-0px -288px}

#bootloader_6wJrA { height: 42px; }