/*1314595166,176820665*/

.sp_5jmh60{background-image:url(../../y6/r/4X6nSfTi0wh.png);background-repeat:no-repeat;display:inline-block;height:32px;width:30px}
.sx_15180d{width:32px;background-position:-0px -0px}
.sx_cf6c15{background-position:-0px -33px}
.sx_26c117{height:22px;background-position:-0px -66px}

#bootloader_koYEb { height: 42px; }