/*1320051588,169775812*/

.sp_7uaps4{background-image:url(../../ya/r/n4S4S8-ly4H.png);background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_d53755{background-position:-0px -0px}
.sx_1d43d0{width:29px;background-position:-0px -132px}
.sx_458061{background-position:-0px -33px}
.sx_0b6d4f{background-position:-0px -66px}
.sx_5d6df5{background-position:-0px -99px}
.sp_f3u8ox{background-image:url(../../yS/r/T6sjsoUFACf.png);background-repeat:no-repeat;display:inline-block;height:9px;width:11px}
.sx_f4f044{background-position:-0px -13px}
.sx_bd36a4{background-position:-0px -23px}
.sx_534b2e{width:12px;height:12px;background-position:-0px -0px}

#bootloader_DqVNE { height: 42px; }