/*1320712268,169776319*/

.padded{padding:10px}
.rounded_container{margin:0;padding:0}
.inside_rounded{padding-bottom:0;margin-bottom:5px}
.careers_full{width:940px;margin-left:auto;margin-right:auto}
.careers .full_cleared{width:940px;padding-top:10px;clear:left}
.careers .careers_left_column{margin-right:20px}
.careers_half{width:460px;float:left}
.perks .careers_third .box img{border:1px solid #bebebe;display:block;margin:3px 0 10px 0}
.careers_third{margin:0 0 4px 0;width:300px;float:left;overflow:hidden;padding-top:0;padding-bottom:5px}
.careers_subthird{margin:2px 0;width:300px;float:left;padding-bottom:5px}
.careers_twothirds{width:620px;float:left;padding-bottom:5px}
.careers_narrowbox{width:154px;float:left}
.careers_widebox{width:715px;float:left}
.bordered{border-bottom:1px solid #d3dae5;margin:5px;padding:5px}
.careers_header{margin-bottom:7px}
.UIPage_LoggedOut .careers_header_contents{padding-top:15px}
.careers_subpage_header{margin-bottom:12px}
.careers_header_contents{padding:15px 4px 15px 4px}
.careers_header_title{font-size: 14px;margin-top:5px;padding-bottom:8px}
.careers_header_contents .careers_header_title{width:auto}
.careers_header_subtitle{font-size: 14px;line-height:18px;margin:0 0 12px 0;padding:0}
.careers #video_display{margin-top:24px}
.careers .careers_videos_box{margin-top:12px;margin-bottom:10px}
.careers .careers_videos_box .video_thumb{border:1px solid #666;display:block;font-size: 9px;line-height:10px;margin:3px 6px 0;text-decoration:none;width:136px}
.careers .careers_videos_box .video_thumb img{vertical-align:bottom}
.careers .careers_videos_box .video_thumb .captions{display:none}
.careers .careers_videos_box .video_thumb .captions strong{font-weight:bold;font-style:normal}
.careers .careers_videos_box a.video_thumb:hover{position:relative}
.careers .careers_videos_box a.video_thumb:hover .captions{background-color:#262626;bottom:-1px;color:#f2f2f2;display:block;font-style:italic;left:0;padding:4px;position:absolute;width:128px}
.careers .careers_videos_box .video_thumb .video_thumb_img{width:100%}
.careers .video_player_box{background:#262626;padding:0 2px;color:#f5f5f5}
.careers .video_player_box .video_player_text{padding:12px}
.careers .video_player_box h3{color:#f5f5f5;font-size: 13px;margin:0 0 5px}
.careers .video_player_box p{margin:0;padding:0}
.careers .careers_header h2{font-size: 20px}
.careers h2{font-size: 16px}
.careers .box_head h2{font-size: 11px}
.careers h3{font-size: 16px;margin-bottom:14px}
.careers .uiHeaderTitle{font-size: 11px;margin-bottom:0}
.careers h4{font-size: 12px;margin-bottom:5px}
.careers .UIProfileBox_Title{font-size: 13px}
.careers .UIProfileBox_Content{padding-left:9px}
.careers .box h4{font-size: 11px;margin-bottom:-7px;border:0 none}
.careers .topmargin{margin-top:30px}
.careers .welcome_careers_block{display:block;margin:6px 20px 0 0}
.careers .image_frame{display:table;border:1px solid #bebebe;padding:3px}
.careers .careers_grid{border-bottom:1px solid #d3dae5;display:block;margin:0;padding:0}
.careers .careers_grid .careers_full{border-top:1px solid #d3dae5;clear:both}
.careers filter_selector{margin:0}
.careers #grid_filter_selector{margin-bottom:10px}
.careers .department_listing{float:left;padding:14px 0;width:230px}
.careers .department_listing.last{margin-right:0}
.careers .department_listing .careers_dept_img{width:52px;height:52px;float:left;margin:5px 0 0 3px}
.careers .first_row .department_listing{border-top:none;padding-top:14px}
.careers .department_listing .department_description{float:left;margin-left:10px;width:150px}
.careers .department_listing .department_description h3{font-size: 14px;line-height:20px;margin-bottom:0}
.careers .life_intro_paragraph{margin:27px 0 0}
.careers .life_intro_paragraph p{font-size: 13px;line-height:19px;margin:0;padding:0}
.careers .life_intro_paragraph h2{font-size: 14px;margin-bottom:5px}
.careers .box .video{margin-bottom:10px}
.careers .box .video h4{margin-bottom:0}
.careers .box .video img{margin:0 10px 0 0}
.careers .department_info .careers_header_title{font-weight:700;font-size: 15px;line-height:250%}
.careers .department_info .careers_header_title h3{float:left;font-size: 14px;font-weight:normal;margin:3px 0 5px}
.careers .department_info .careers_header_description{font-size: 11px;line-height:16px}
.careers .department_info{font-size: 12px;padding-bottom:20px}
.careers .department_info div{clear:left}
.careers .department_info img{margin:0 10px 0 0;float:left}
.careers .meet{clear:both;padding:20px}
.careers .right_content{margin-top:8px}
.careers .footer_container{width:930px;margin:15px 0 20px 0}
.careers .careers_footer{padding:8px 10px 20px}
.careers .careers_footer .careers_half{width:445px}
.careers .footer_description{float:left;margin-left:16px;width:283px}
.careers .careers_footer h3{margin:4px 0 6px 0}
.careers .careers_footer h4{border:0 none;font-size: 13px}
.careers .careers_footer img{border:1px solid #bebebe;float:left;margin-top:3px;padding:3px}
.careers .footer_description img{display:inline;float:none}
.careers #home_welcome .welcome_relative .header_img img{background-color:#fff;float:left}
.careers .home_header_description h2{color:#203360}
.careers .home_header_description{color:#203360;float:left;margin:0 0 0 14px;width:440px}
.careers .home_header_description p{font-size: 13px;line-height:20px;margin-top:6px}
.careers #masthead .UITabStructure_Container{margin:3px auto 0 auto;padding:0 0 0;width:945px;position:relative;top:1px}
.careers #masthead .UITabStructure_Container ul{margin-left:4px;margin-top:0}
.careers .UITabStructure_Tabs{display:block}
.careers #masthead .UITabStructure_Tabs li{background:transparent;margin:0 2px 0 0;float:left;padding:0}
.careers #masthead .UITabStructure_Tabs li a{background:#d3dae5;border:1px solid #d3dae5;border-bottom:0;color:#3b5998;font-weight:bold;padding:5px 11px 4px 12px;margin:0;float:left}
.careers #masthead .UITabStructure_Tabs li a:hover{text-decoration:none;background:#627aad;border:1px solid #627aad;border-bottom:0;color:#fff;margin:0}
.careers #masthead .UITabStructure_Tabs li a.UITabStructure_TabSelected{background:#fff;border:1px solid #d3dae5;border-bottom:0;color:#333;margin:0}
.careers #masthead .UITabStructure_Tabs li a.UITabStructure_TabSelected:hover{text-decoration:none}
.careers #partylist{margin:18px 0 0 0}
.careers .puzzle_list_container{margin-left:24px}
.careers .puzzle_list{width:100%;margin:4px 0 22px;float:left}
.careers .puzzle_piece{position:relative;left:-24px;float:left}
.careers .puzzle_list th{border-bottom:1px solid #a3a3a3;color:#999;padding-bottom:3px;position:relative}
.careers .puzzle_list h3{font-size: 14px;margin:0 0 0 -18px;padding:0;float:left}
.careers .puzzle_list td{padding:7px 0 6px 0;border-bottom:1px solid #e1e1e1}
.careers .puzzle_description{margin:30px 0 0}
.careers .puzcode,.careers .code{background-color:#eee;border:1px solid #ddd;margin:10px 20px;padding:5px}
.careers .people_bio_box{margin-bottom:16px}
.careers .people_bio_box .careers_user{margin:0}
.careers .careers_user{margin-bottom:20px}
.careers .careers_user p{margin:2px 0}
.careers .careers_user h4{font-size: 11px}
.careers .careers_user p a{font-weight:bold}
.careers .careers_user img{margin:5px 15px 15px 0}
.careers .career_school{border:1px silver solid;width:100%;font-size: 13px}
.careers .careers_list{padding:5px 5px 0;margin:0 0 0 12px}
.careers .UICareersPage .video_cell{float:left;margin-left:auto;margin-right:auto}
.careers .careers_list li{list-style-type:square;margin-bottom:7px}
.careers .UICareersPage ul.iconized_list{padding-left:0;margin-left:0;overflow:hidden}
.careers .UICareersPage ul.iconized_list li{background-repeat:no-repeat;margin:0 0 7px 0}
.careers .UICareersPage ul.iconized_list .img{float:left;display:inline;margin:0 10px 4px 0}
.careers_h2{padding:5px}
.careers .apply .status{margin-top:20px}
.careers .careers_apply_button{margin-top:21px;margin-bottom:6px}
.careers .perks_video{padding:10px 14px}
.careers .perks_video h4{border-top:1px solid #ccc;margin:10px 0 0;padding:5px 0 0}
.careers .perks_video p{margin:7px 0}
.careers .careers_news{padding:10px}
.careers .careers_news h4{margin-top:7px;margin-bottom:5px;padding-bottom:3px;border-bottom:1px solid silver}
.careers .floated_share_link{float:right;width:60px}
.careers .tab_item{font-size:9pt;font-weight:bold}
.careers .home_page_title{margin-bottom:-10px;margin-top:25px;font-size: 28px}
.careers .box_outside{padding-left:20px;width:400px;opacity:.8;background:#037;border-style:none}
.careers .box_inside{opacity:.8;background:#037;margin-left:-10px}
.careers .welcome_absolute .box_text{color:#fff}
.careers .welcome_relative{position:relative}
.careers .welcome_absolute{bottom:3px;left:30px;position:absolute}
.careers .facepile_absolute{left:30px;top:0;position:absolute}
.careers .facepile_absolute .facepile_box{background:#464646;height:50px;opacity:.8;padding:10px;position:absolute;width:264px}
.careers .facepile_absolute .facepile_content{border:none;color:#ccc;font-size: 11px;height:50px;padding:10px;position:absolute;width:264px}
.careers .footer_text{color:gray;font-size: 14px;border-style:none;margin-left:-10px;margin-top:-10px}
.careers .footer_title{font-size: 15px;font-weight:bold}
.careers #browse_by_text{float:left;margin-right:15px;vertical-align:middle;font-size: 15px;font-weight:bold}
.careers_wash_layout{margin-top:-20px}
.careers_wash_layout .careers_wash_empty{margin-top:-70px;margin-bottom:-85px}
.careers_wash_layout .careers_wash_body{background-color:transparent;margin-top:60px;width:940px}
.careers .department_box{border-bottom:solid;border-color:#ddd}
.careers .footer_large{width:55%}
.jobs_buttonmessage_tab{padding-top:5px}
.pop_content .full_page_link{float:right}
.pop_content .position_info{height:300px;overflow:auto}
.jobs_buttonmessage_tab .jobs_message_icon{float:left;padding-left:6px;padding-top:1px;width:24px;padding-right:5px}
#refer_message_form{padding:10px}
#refer_message_form .message_field{padding:5px}
#refer_message_form #subject,
#refer_message_form #message_body{width:580px}
#jobs_departments{position:relative;font-size:110%}
#jobs_departments .department_open{padding-left:25px;padding-top:5px;background:transparent url(../../yj/r/Fg783X5g9Fx.gif) no-repeat;background-position:0 5px}
#jobs_departments .department_closed{padding-left:25px;padding-top:5px;background:transparent url(../../y9/r/-nR8LN8oTG8.gif) no-repeat;background-position:0 5px}
#jobs_departments .departments li li{background:none}
#jobs_departments .job_description{height:350px;overflow:auto}
#jobs_departments .positions{display:none}
.position_desc{vertical-align:middle;padding-left:25px;cursor:pointer;cursor-color:#3b5998}
.req_visible .news_box,
.async_saving .UICareersPage_RequisitionBox,
.async_saving .news_box,
.UICareersPage_RequisitionLoading{display:none}
.async_saving .UICareersPage_RequisitionLoading{display:block;text-align:center}
.UICareersPage_RequisitionLoading .please_select{margin-top:10px;font-size: 14px;font-weight:normal}
.careers .UICareersPage .UICareersPage_SelectedRequisition{list-style:none}
.UICareersPage_SelectedRequisition a{text-decoration:none;color:#000;background-color:#fbf3d1}
.UICareersPage_SelectedRequisition a:hover{text-decoration:none}
.UICareersPage .UICareersPage_RequisitionBox,
.UICareersPage .UICareersPage_RequisitionLoading{padding:15px 15px 18px 25px;clear:both}
.UICareersPage_RequisitionBox .UICareersPage_RequisitionTitle{font-size: 28px;font-weight:normal;line-height:30px;padding-top:13px}
.UICareersPage_RequisitionBox .UICareersPage_RequisitionDescription{font-weight:normal;font-size: 12px;line-height:18px}
.UICareersPage_RequisitionBox .UICareersPage_RequisitionPermalink{font-size: 12px;margin-top:15px}
.UICareersPage .UICareersPage_RequisitionBox h4{margin:25px 0 12px}
.careersCloseButton{float:right}

#bootloader_0VfaD { height: 42px; }