
#availability-div-wrapper {
	margin-left:150px;
}

#availability-div-main {
	width: 629px;
	border: 1px solid #ccc;
	vertical-align:middle;
}

#availability-underline {
	border-top: 1px solid #ccc;
	
}

#check-availability-form-section {
 margin:0px auto;
 padding:0px;
 border:1px solid #ccc;	
 border-top:0px;
 width: 100% auto;
 vertical-align:top;
 min-height:350px;

}

#stateList tr td{
	margin-right:30px;
	padding-right:30px;
	
}

#check-availability-form-section tr td {
 margin:0px;
 vertical-align:top;
 margin-left:16px;

}

#availability-form-section  {
font-size: 10px;
vertical-align:top;
line-height:25px;
margin-left:16px;
}

#phoneNumberBlock {
	height:55px;
	
	
}

#phoneNumberBlock tr td {
	font-size: 10px;
	background-color:#F1F9FB;
	padding:10px;
	width: 500px;
	line-height: 15px;
	vertical-align:top;
}
#addressBlock {
	font-size: 10px;
	background-color:#F1F9FB;
	padding:10px;
	width: 500px;
	line-height: 15px;
	vertical-align:top;
}
#accountIdBlock  {
	font-size: 10px;
	background-color:#F1F9FB;
	width: 500px;
	line-height: 15px;
	vertical-align:top;
}


#serviceAddressTable tr td {
	font-size: 10px;
	padding:3px;
}

#address-not-found-form {
	line-height:25px;
	height:25px;
	margin-top:30px;
	margin-bottom:40px;
	width:500px;
}
#availability-address-form-header{
	font-size:10px;
	margin-top:10px;
	width:550px;
	line-height: 20px;

}

#availability-address-form {
	line-height:25px;
	margin-left:25px;
}
#radio-button {
	
	padding-left:100px;
}

#availability-field-name-section {
	float:left;
	width:100px;
	text-align:right;
	line-height:30px;
}

#availability-phone-input-box-section {
	margin-left:220px;
	
}

#availability-address-phone-section {
	
}


#availability-field-sample-section {
	float:left;
	width:99px;
	margin-left: 25px;
	line-height:30px;
}

#availibility-header-section {
	padding: 10px;
	
}

#notify-me-address-state {
	font-size:10px;
	line-height: normal;
}

#notify-me-address-state td {
	vertical-align:top;
	padding-right:2px;
}

#input-text-field {
	margin-left: 100px;
}

#availability-error-message  {
	background-color:#fff1e0; 	
	border:#ff7200 solid 1px;
	color: #ff7200;
	width:629px;	
}
#multiaddress-error-message {
	background-color:#fff1e0; 	
	border:#ff7200 solid 1px;
	color: #ff7200;
	font-size:10px;
	width: 460px;
}

#checkout-error-message {
	background-color:#fff1e0; 	
	border:#ff7200 solid 1px;
	color: #ff7200;
	padding:5px;
	width:600px;
}
#availability-service-already-exists {
	background-color:#e9fbe1; 
	border:#55ca10 solid 1px;
	color: #006633;
	height:24px;
	vertical-align:middle !important;
	padding:3px;
	width:622px;
	
}

#no-match-found {
	color: #006633;
	height:24px;
	vertical-align:middle !important;
	margin:10px;
	color: #FF7200;
}

.babyBlue {
	background-color:#F1F9FB;
}

#phoneNumberHighlight tr td {
	width:500px;
	padding:10px;
	
}

#check-availability-buttons {
	border-top: 0px;
	margin-left: 500px;
 	padding: 10px;
}

#availability-buttons {
 	border-top: 1px solid #ccc;
 	padding-left: 520px;
 	padding-top: 10px;
 	padding-bottom: 10px;
}

#multiple-address-section {

}

#multi-address-list-div {
	border-top:1px solid #cccccc;
	border-bottom: 1px solid #cccccc;	
}
#multi-address-list	{
	background-color: #f2f9fb;
	border-top:1px solid #ccc;
	
}

#publish-list	{
	background-color: #eff7fa;
	width:629px;

}

#multi-address-list tr td {
	line-height: 25px;
	border-bottom:1px solid #ccc;
	vertical-align:middle;
	text-transform:uppercase;

}

#checkout-range-address {
	background-color: #eff7fa;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

table colgroup#SUCCESS1  {
	
	width: 200px;
	
}
table colgroup#SUCCESS2  {
	
	width: 200px;
	
}
table colgroup#SUCCESS3  {
	
	width: 200px;
	
}
#check-availability-success {
	height: 100px;
	padding:20px;
}

#service-not-available {
	padding-left: 20px;
	padding-top:0px;

}
#notifyMe {
	background-color:#F2F9FB;
	width:590px;
	height:30px;
	line-height:30px;
	margin-top:10px;
	padding-left:10px;
	
}

#servicesTable tr td {
	width: 150px;
	padding-bottom:25px;
}

#serviceNotAvailablePage {
	height:50px;
	line-height:50px;
}


/**************************
tab module
**************************/
#availability-tabs {
	
	border: 1px solid #ccc;
	width:628px;
	height: 32px;
	
}

ul.tabs
{
	list-style: none;
	padding-left: 1.5em;
}
ul.tabs li
{
	position: relative;
	float:left;
	z-index:40;
	display: inline;
	
}


ul.tabs a, ul.tabs a:link, ul.tabs a:visited
{
	display: block;
	background: #FFF;
	background-repeat:repeat-x;
	background-position:bottom;
	margin-left:5px;
	color: #0A94D6;
	border: 1px solid #ccc;
	height:21px;
	line-height:21px;
	margin-top:10px;
	margin-bottom:-1px;
	padding-left:5px;
	padding-right:5px;
	width:185px;
	text-align:center;
	overflow: hidden;
	position:relative;
	text-transform:uppercase;
}
ul.tabs a.active, ul.tabs a:link.active, ul.tabs a:visited.active
{
	background: #FFF;
	background-repeat:repeat-x;
	background-position:top;
	color: #f27d00;
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
ul.tabs a:hover, ul.tabs a:hover
{
	color: #f27d00;
}

div.tabs div.tabs div.tabs
{
	position: absolute;
	left:0px;
	top:26px;
	height:auto;
	width:100%;
	padding: 14px;
	color: #666666;
	border: 1px solid #ccc;
	margin:auto;
}

#tabFlashFull
{
	position: absolute;
	left:-240px;
	top:26px;
	height:auto;
	width:680px;
	padding: 14px;
	color: #666666;
	border: 1px solid #ccc;
}

#tabFlash360
{
	margin-top:1px;
}

.hr
{
	margin:1em 0;
	border-top:1px solid #ccc;
}
#existingCustomerSubmit {
	cursor:hand;
}

/**
 * tiles
 */
.tilesWrapper {
	margin:0 0 42px 15px;
	width:150px;
	float:left;
}

.tileWrapper {
	margin:0 0 15px;
	width:148px;
	border:1px solid #cccccc;
}

.tileLinkWrapper {
	margin-left:10px;
}

.tileLink {
	background:url("../../media/att/2011/global/btn/img_blue_arrow_9x13_AA000OM4.gif") no-repeat right bottom;
	padding-right:13px;
	font-family:Arial;
	font-size:12px;
}

/**
 * tooltip
 */
.tip-white {
	margin-top:10px; 
	opacity:1;
	z-index:1000;
	text-align:left;
	border:none;
	padding:3px;
	min-width:50px;
	max-width:350px;
	color:#666;
	background-color:#fff;
	background-image:url(http://www.att.com/images/global/tooltip/tip-white/tip-white.png); /* bgImageFrameSize >= 10 should work fine */
	/**
	 * - If you set a background-image, border/padding/background-color will be ignored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-white .tip-inner {
	font: 13px/18px arial,sans-serif;
	margin-top:-1px;
	padding:8px;
}
.tip-inner{background: url(http://www.att.com/images/global/tooltip/tip-white/backgroundwhite.gif) repeat-x scroll 100% 100% transparent }

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-white .tip-arrow-top {
	margin-top:-5px;
	margin-left:15px;
	top:0;
	left:44%;
	width:16px;
	min-height:10px;
	background:url(http://www.att.com/images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat;
}
.tip-white .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */

	margin-left:-4px;
	top:50%;
	left:100%;
	width:10px;
	min-height:20px;
	background:url(http://www.att.com/images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -16px 0;
}
.tip-white .tip-arrow-bottom {
	margin-top:-6px;
	margin-left:15px;
	top:100%;
	left:44%;
	width:16px;
	min-height:13px;
	background:url(http://www.att.com/images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -32px 0;
}
.tip-white .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:10px;
	min-height:20px;
	background:url(http://www.att.com/images/global/tooltip/tip-white/tip-white_arrows.png) no-repeat -48px 0;
}
.required {color:#f27d00}
.tips{left:-9999px;position:absolute;top:-9999px;}