.col_680px {
	float: left;
	margin: 3px;
	width: 680px;
	padding: 5px;
	border: #CCCCCC solid 1px;
}
.col_234px {
	float: left;
	margin: 3px;
	width: 234px;
	padding: 5px;
	border: #CCCCCC solid 1px;
}
div.vertDash
{
	background-image:url(../../media/en_US/images/img/img_splice_listItemSeparator.gif);background-repeat:repeat-y;width:1px;margin:8px;
}
.listItemGradient
{
	background-image:url(../../media/en_US/images/img/img_uverse-gradient-4x15_AA0009R5.gif);
	background-repeat:repeat-x;height:15px;
}
.mod_a_uverse /* 1px border box with tall gradient bg and 12px padding */
{
	background-image: url(../../media/en_US/images/img/img_uverse-gradient-4x37_AA0009R6.gif) repeat-x;
    padding-left:12px;
		padding-top:12px;
		/*margin-bottom:10px;
    border: 1px solid #ccc;*/
}
.package {
	width:220px; 
/*	padding:4px;*/
	border-top:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px; 
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	color:#0A94D6;
	display: block;
	position:relative;
	z-index:3;
}
.package:hover {
/*#FF7200*/
	width:220px;
/*	padding:3px;*/
	border-top:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px;
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
	color:#FF7200;
	/*background: url(/media/en_US/images/img/img_uverse-details-selected_AA0009RQ.gif) repeat-y;*/
	background: url(../../media/en_US/images/img/img_uverse-details-gradient_AA0009RO.gif) repeat-y;
	position:relative;
	z-index:3;
	cursor:pointer;
}
.uverse_bar
{ 
	padding-right: 5px;
	border-right:solid #999999 1px;
}
.first_203 {
	float: left;
	width: 203px;
	}
.first_138 {
	float: left;
	width: 138px;
	}
.first_153 {
	float: left;
	width: 153px;
	}
.col_203 {
	float: left;
	width: 203px;
	margin-left: 10px;
	display: inline;
	}
.col_153 {
	float: left;
	width: 153px;
	margin-left: 2px;
	display: inline;
	}
.uverse_orange{color:	#FF7200;}
.uverse_purple{color:	#81017E;}
.uverse_blue{color:	#0C2577;}
.uverse_green{color:	#5EBB1F;}
	
#content .callout-offer {position: relative;padding: 0px 0px 0px 5px;}
#content .callout-offer ul.mini-arrow-list {padding:0;margin:0;font-size:10px;}
#content .callout-offer ul.mini-arrow-list li {padding-bottom:3px;margin:0;}
#content .callout-offer ul.mini-arrow-list li a {padding:1px 0 1px 18px;background:url(../../media/en_US/images/btn/btn_caret_AA0009OZ.gif) left no-repeat;}

.bottomLinks {clear:both; margin-bottom:10px; color:#cccccc}
.bottomLinks a, .bottomLinks a:link, .bottomLinks a:visited, .bottomLinks a:hover {font-size:.9em; color:#999999; padding:0 5px;}

div.horizDash4 {background-image:url(../../media/en_US/images/img/img_splice_horz_sep.gif); background-repeat:repeat-x;height:1px; margin: 0 0 0 0;}
div.horizDash5 {background-image:url(../../media/en_US/images/img/img_splice_horz_sep.gif); background-repeat:repeat-x;height:2px; margin: 0 0 0 0;}
#alert {
	background-color:#e9fbe1; 
	border:#55ca10 solid 1px;
	color: #006633;
}
.buttonUverse-cancel
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_cancel_wht_AA000CNO.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrievecart
{
    width:102px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveCart_blu_AA000169.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrieveExisting
{
    width:125px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveExisting_AA000CO3.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-savecart
{
    width:102px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_SaveCart_blu_AA00016B.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-done
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_Done_blu_AA0009Y4.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-retrieveExisting
{
    width:125px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_RetrieveExisting_AA000CO3.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-replace
{
    width:70px;
    height:18px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_Replace_blu_AA000165.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-checkStatus
{
    width:162px;
    height:36px;
    border:0;
    background: url(../../media/en_US/images/btn/btn_checkMyStatus_blu_AA000ETZ.gif) 0 0 no-repeat transparent;
    cursor: pointer;
}
.buttonUverse-checkStatusDisabled
{
    width:162px;
    height:33px;
    border:0;
    /* background: url(/media/en_US/images/btn/btn_checkYourStatus_disabled__AA000E5K.gif) 0 0 no-repeat transparent; */
}
.mod_s  /* 1px border box with NO gradient bg NO PADDING*/
{
    margin-bottom:0px;
    border: 1px solid #ccc;
    border-bottom:0px;
	overflow: hidden;
}
.mod_caution_uverse /* 1px Orange border for form errors */
{
    background:#f9f4d3;
    margin-bottom:10px;
    color:#f27d00;
    padding:5px;
    border: 1px solid #f27d00;
}

.mod_message_uverse /* 1px Orange border for form errors */
{
    background:#edf5f8;
    margin-bottom:10px;
    /*color:#edf5f8;*/
    padding:5px;
    border: 1px solid #cccccc;
}

/* for save cart background*/


#popup_top {
	width:425px;
	height:40px;
	display:block;
	background-image:url(../../media/en_US/images/layout/popup_topSlice_AA000CUE.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	text-align:right;
	padding:10px 0 0 0;
	margin: 0 auto;
}
#popup_container
{
    margin:0 auto;
    width: 425px;
    background: url(../../media/en_US/images/layout/popup_midSlice_AA000CUD.gif) 0 0 repeat-y transparent;
    /*background: url(/global/images/landingPage_heightGrid.jpg) 0 0 no-repeat transparent;*/
}
#popup_bottom
{
    clear: both;
    margin: 0 auto;
    width:425px;
    height:5px;
    background: url(../../media/en_US/images/layout/popup_btmSlice_AA000CUC.gif) 100% 100% no-repeat transparent;
}

/****************
  U-Verse Shopping Cart
****************/
.productImage {width:160px;vertical-align:top;padding:15px;text-align:center;border-bottom:#CCCCCC 1px solid;}
.productListing {padding:5px;border-bottom:#CCCCCC 1px solid;}
.finePrint {margin-top:15px;margin-bottom:15px;color:#999999}
.parentTable{border: 1px solid #ccc; width:790px;}
.orderAddress{float:left;width:510px;padding-top:5px;}



.billAddress{float:left;width:160px;margin:5px; border-left:#CCCCCC 1px solid;padding-left:10px;}
.servAddress{float:left;width:160px;margin:5px; border-left:#CCCCCC 1px solid;padding-left:10px;}
.installNote{float:left;width:380px;margin:5px;}
/**** 2009.4 changes below to adjust for shipping block****/
.billAddress2{float:left;width:130px;margin:3px; border-left:#CCCCCC 1px solid;padding-left:10px;}
.servAddress2{float:left;width:130px;margin:3px; border-left:#CCCCCC 1px solid;padding-left:10px;}
.shipAddress2{float:left;width:130px;margin:3px; border-left:#CCCCCC 1px solid;padding-left:10px;}
.installNote2{float:left;width:287px;margin:3px; color:#f27d00;}
.orderInfo {width:380px;float:left;margin:5px;}
.orderInfo2 {width:300px;float:left;margin:5px;}

/**** ORDER REVIEW PAGE ***/
.billAddressReview{float:left;width:170px;margin:5px; border-right:#CCCCCC 1px solid;height:100px;}
.servAddressReview{float:left;width:170px;margin:5px; border-right:#CCCCCC 1px solid;height:100px;}
.installNoteReview{float:left;width:380px;margin:5px;}
.billAddress2Review{float:left;width:140px;margin:3px; border-right:#CCCCCC 1px solid;height:105px;}
.servAddress2Review{float:left;width:140px;margin:3px; border-right:#CCCCCC 1px solid;height:105px;}
.shipAddress2Review{float:left;width:140px;margin:3px; border-right:#CCCCCC 1px solid;height:105px;}
.installNote2Review{float:left;width:287px;margin:3px; color:#f27d00;}
.orderInfoReview {width: 380px; float: left;margin:5px;height:100px;border-right:1px solid #CCCCCC;}
.orderInfo2Review {width: 300px; float: left;margin:5px;height:100px;border-right:1px solid #CCCCCC;}


/*.otherServices {float:left;width:725px;padding:5px;}*/
.priceLineItem {text-align:right;border-left:#CCCCCC 1px solid;border-bottom:#CCCCCC 1px solid;padding-right:5px;background-color:#F5F5F5;}
.priceLineItemTotal {text-align:right;border-left:#CCCCCC 1px solid;border-bottom:#CCCCCC 3px solid;border-top:#CCCCCC 1px solid;padding-right:5px;font-weight:bold;}
.priceLineItemEmpty {text-align:right;border-left:#CCCCCC 1px solid;border-bottom:#CCCCCC 4px solid;padding-right:5px;background-color:#F5F5F5;}
.mrcColumnHead{width:60px;text-align:center;border-left:#CCCCCC 1px solid;padding:12px;background-color:#F5F5F5;}
.nrcColumnHead{width:60px;text-align:center;border-left:#CCCCCC 1px solid;padding:12px;background-color:#F5F5F5;}
.summaryTotals{width:460px;padding:5px;padding-bottom:5px;}
.infoAlert{width:725px;padding:10px;background: url(../../media/en_US/images/ico/ico_greenAlert_AA0009QR.gif) 10px 10px no-repeat #E3EEF4;} /*10px 0 0 10px no-repeat*/
.infoAlert-no{width:725px;padding:10px;background-color:#E3EEF4;}
li:deviceSel {font-size:11px;}
div:greyHeader {font-size:12px;} 
span:rewardOffer {font-size:11px;}

/*supporting expand collapse funtionality on tables or other div block*/

#openOut {background: url(../../images/Wireless/GlobalAssets/Buttons-Icons/English/btn_toggle_plus_AA000ENF.png); background-repeat:no-repeat; }
#openOut li.icon-plus { padding: 1px 0 3px 0px; margin-left: 0; text-align: left; list-style-type:none;list-style-position: outside; }
#openOut li.icon-plus a { padding:1px 0px 3px 20px;color:#0A94D6; }


#tableClose {
display:none;	
}

/******************
U-Verse Side Cart / Mini Cart 
****************************/

	td.lineItemdisplayName {font-size:9px;padding-left:15px;width:220px;text-align:left; height:25px;}
	td.lineItemdisplayPrice {text-align:right;font-size:9px;width:60px;padding-right:3px;}
	tr.applyUpdates{color:#F27D00;background-color:#FFFF99; padding-left:15px;padding-right:3px; font-size:9px;}



/**************************
Rounded Corners
**************************/

.rounded s, .rounded b, .rounded u, .rounded p  {
 margin: 0px;
 padding: 0px;
 height: 1px;
 font-size: .1em;
 overflow: hidden;
 display: block;
 border-width: 0px 1px;
 border-style: solid;
 background: #FFFFFE;
}
.rounded s {border-color: transparent !important; border-color: #FFFFFF;}
.rounded b     {border-color: #B2B2B2;}
.rounded b b   {border-color: #8C8C8C;}
.rounded b b b {border-color: #D8D8D8;}
.rounded u {border-color: #666666; border-width: 1px 1px;}
.rounded p {border-color: #666666; height: 100%; font-size: 1em; overflow: visible;}
.rounded p b   {border: 0px; height: 100%; font-size: 1em; overflow: visible;}
.rounded p p   {border: 0px; height: 100%; font-size: 1em; overflow: visible;}


/**************************
This for interactive map change
**************************/
.bg-top-shadow{background: url(http://www.att.com/images/global/ie-top-background.png) bottom left no-repeat;height: 11px;width: 986px;position:relative; margin:0 auto; }
.bg-mid-shadow{ 
    width:986px;
    padding-left: 7px;
    background: url(http://www.att.com/images/global/ie-mid-background.png) 0 0 repeat-y;
    position:relative }
.bg-bottom-shadow{margin:0 auto;
    background: url(http://www.att.com/images/global/ie-bottom-background.png) top left no-repeat;
    width: 986px;
    height: 13px;
    position:relative }
.bg-gr-bottom-shadow{margin:0 auto;

    background: url(http://www.att.com/images/global/ie-gr-bottom-background-nofat.png) top left no-repeat;
    width: 986px;
    height: 13px;
    position:relative }
    .globalFooterHtml{margin:0 auto; width:986px;}
#btmContainer{background:none;}
/* .gn_prefooter{display:none;} */

.leftcontainer{float:left; border:1px solid #ccc; padding:7px 0px; width:338px;}
.leftcontainer p, #rightcontainer p{margin-top:0; margin-bottom:5px !important;}
.resultdata{float:left; width:100%;}
.resultdata ul{list-style:none; margin-top:10px;}
.resultdata li{float:left; width:135px; margin-right:10px; text-align:center;}
.instruction, #divContent1, #divContent2{float:left; width:308px; padding:0 15px;}
.instruction h2, #Messaging h2, .resultdata h2{color:#ff7200; font-size:14px; text-transform:uppercase; margin-bottom:10px;}
.instruction p.error{color:#ef6421; padding-left:30px; margin-bottom:8px !important; background: url(../images/icon_error_triangle.png.html) no-repeat 0px 3px;}
a.option{/*padding:3px 0 2px 30px;*/padding:1px 0 2px 20px;background: url(../images/arrow-link.gif) top left no-repeat;}
#divContent1 td{padding-bottom:2px;}
#divContent1 td.label{width:105px;}
.leftcontainer input{border:1px solid #ccc;}
div.hr{border-top:1px dotted #ccc; height:1px; overflow:hidden; float:left; width:253px; margin:10px 15px ;}
.instruction div.hr{margin:2px 0px 10px 0px !important;}
.leftcontainer div.hr{border-top:1px dotted #ccc; height:1px; overflow:hidden; float:left; width:308px; margin:10px 15px;}
#Messaging h2{padding-top:7px;}
.leftcontainer input.chkavailability-disable, .leftcontainer input.chkavailability-enable{float:right;}

.rightcontainer{float:left; margin-left:10px; border:1px solid #ccc; padding:0px 0 7px 0; width:597px; overflow:hidden;}
.rightcontainer div.padding{padding:0 0 0 14px;}
#map{height:412px; float:left; width:100%; clear:both;}
/* input#submit1, #submit, input#caimMDUCheckAvailability{width:79px !important; display:block; height:21px; cursor:pointer; background: url(../images/btn_submit_primary.png) top left no-repeat; border:0 !important; text-indent:-9999px;}*/
input#caimMDUCheckAvailability{width:71px !important; margin-left:5px !important;}

.chkavailability ul, #addressInputOnPoi{width:308px; height:165px; overflow:auto; margin-top:10px; margin-left:-15px; float:left; border-top:1px solid #ccc; margin-bottom:15px; border-bottom:1px solid #ccc; list-style:none; padding:10px 15px; font-size:9px; overflow:auto;}
.chkavailability li{display:block; width:100%; float:left;}
.chkavailability li input{float:left; margin-right:5px;}
.chkavailability li p{float:left; width:215px;}
.chkavailability li p span{text-transform:uppercase; font-weight:bold;}
.chkavailability li p label{float:left; padding-top:2px; margin-right:5px;}
.chkavailability li p input{width:60px;}
#addressInputOnPoi input{float:left; margin:2px 5px 0;}
/* #caimServiceAddress2, #caimMDUCheckAvailability{margin-left:20px !important;} */

input.chkavailability-disable{cursor:pointer;background:url(../images/btn_chkAvail_disabled.png.html) no-repeat; width:142px; height:20px;  border:0; text-indent:-9999px; vursor:pointer; }
input.chkavailability-enable{cursor:pointer;  background:url(../images/btn_chkAvail_primary.png.html) no-repeat; width:130px; height:18px;  border:0; text-indent:-9999px; vursor:pointer;}


#zipLocalized1 td, #zipLocalized td, .displayarea table td{padding-bottom:7px;}
.leftcontainer #zipLocalized td{padding-bottom:2px;}
.arrowlink{padding-left:23px;}

a.back{float:left; width:auto; padding:1px 0 1px 22px; background: url(../images/btn_arrowBack_sec_15px.png.html) 0px 0px no-repeat; margin-bottom:10px;}
a.back1{float:left; width:auto; padding:0 0 0 10px; background: url(../images/arrow_back_blue_8px.png.html) 0px 4px no-repeat; margin-bottom:7px;}
.chat{margin-right:10px; width:auto; top:28px; right:0px; position:absolute;}
a.chaticon{ background:url(../images/c2c_graphic.png.html) top left no-repeat; padding:2px 0 40px 170px; float:left; margin-top:4px; }
.fltlmessage{float:left; width:413px;}
.sdu-mdu{float:right; border-left:1px solid #ccc; width:156px; padding:10px 6px 10px 7px;}
.sdu-mdu p.sdu{display:block; background:url(../images/map_icon_singleUnit.png.html) no-repeat; padding-left:30px; padding-top:5px; margin:0 0 10px 0; height:25px;}
.sdu-mdu p.mdu{display:block; background:url(../images/map_icon_multiUnit.png.html) no-repeat; padding-left:30px;height:25px; padding-top:5px; margin:0; float:left; width:140px;}
.clear{clar:both; height:1px; overflow:hidden;}

.txtcontainer
	{float:left;
	width:907px;
	border:1px solid #ccc;
	padding:10px 15px}
.txtcontainer div.servivearea
	{float:left;
	width:100%;}
.txtcontainer div.checklist
	{float:left;
	width:450px;
	padding:0px;}
.txtcontainer div.checklist ul
	{list-style:none}
.txtcontainer div.checklist li
	{float:left;
	width:100%;
	margin-bottom:10px}
.txtcontainer div.checklist li input
	{float:left;
	margin:0px 5px 0 0; border:0;}
.txtcontainer div.checklist li label
	{float:left}
.txtcontainer div.desiredservice
	{float:right;
	width:380px;
	border-left:1px dotted #ccc;
	padding:0px 25px}
	
	.txtcontainer div.hr{width:100%; margin:10px 0;}
.clear{clear:both;}
.displayarea{width:650px;}


#caimAddressIdDummy{float:left; margin-right:5px;}
span#addressOnPoi{float:left; width:260px;}
#caimServiceAddress2{float:left; margin-right:5px; width:90px;}
#results{text-align:left;}
.mqabasicwnd-titlebar{height:0px; margin:0 !important;}


.topRound{background:url(../images/top-round.gif) no-repeat;width:100%;}
.topRound div{background:url(../images/top-round-right.gif) no-repeat right top; height:4px; margin-left:4px; overflow:hidden;}
.bottomRound{background:url(../images/bot-round.gif) no-repeat; width:100%;}
.bottomRound div{background:url(../images/bot-round-right.gif) no-repeat right top; height:4px; margin-left:4px; overflow:hidden;}
.box{-moz-border-radius:5px; border-radius:5px; border:1px solid #a9abab; margin-bottom:10px; padding:10px; background:#fff;}
.roundcontent{border-left:1px solid #a9abab;border-right:1px solid #a9abab; padding:6px 10px;}
		
	
.txtcontainer #esToolTip{width:250px; position:absolute;margin:-50px 0 0 95px; z-index:5;}
#ie .txtcontainer #esToolTip{margin:-35px 0 0 10px;}

.leftcontainer #esToolTip{width:250px; position:absolute;margin:150px 0 0 430px; z-index:5;}
.bubbletip {
    background: url(../images/tooltipimg.png.html) no-repeat;
    float: left;
    height: 38px;
    margin: 7px 0 0 0px;
    padding: 10px 15px;
    width: 268px; font-size:12px;
}
.mb{margin-bottom:5px;}
.fltL{float:left;}
.fltR{float:right;}

.mqa_htmlpoi{width:30px; height:31px; padding:0!important; background:none !important;}
#notFindToolTip{position:absolute; z-index:5; top:380px; left:500px; width:250px;}

.submitbtn{width:71px !important; height:21px; right:28px !important; cursor:pointer; background: url(../images/btn_submit_primary.png.html) top left no-repeat !important; border:0 !important; text-indent:-9999px; margin-left:4px; position:absolute;}
#testContent input.chkavailability-enable{position:absolute; right:1px;}

.refreshmarker{background:url(../images/btn_refresh_marker.gif.html) no-repeat;width:116px; height:18px; text-indent:-9999px; cursor:pointer;float:right; margin-top:10px;outline:0;}

div.block a img{cursor:pointer;}
.leftcontainer input.chkavailability-disable{display:none;}
div.mqa_htmlpoi{border:0 !important;}

.map-tooltip {
	position:absolute;
	display:block;
	border:1px solid #000;
	width:auto;
	z-index:5000;
}
.map-tooltip p {
	margin:0;
	padding:0;
	color:#000;
	background-color:#efefef;
	padding:5px;
}
/* #primary-content{width:952px;} */
h1{margin-bottom:8px !important;}
#zipLocalized{padding:0px 0px 4px 0px; background:#f1f9fB;font-family:verdana !important; font-size:11px; color:#666666 !important;}
#zipLocalized td{font-size:11px !important; padding-left:8px;}
#zipLocalized td input{font-family:arial !important; color:#000000; font-size:11px;}

.leftcontainer input.chkavailability-enable{margin-top:3px;}

.mqabasicwnd-close{background:url("../images/close.png.html") !important; width:22px !important; height:22px !important;top:-20px !important; right:-20px !important;}
.mqabasicwnd-content h2{font-size:12px !important;color:#3b3b3b !important; line-height:13px !important; margin-top:-1px; padding-left:1px;}
.mqabasicwnd-content{font-size:11px !important; color:#666666 !important; font-family:Arial !important;line-spacing:14px; !important;}
#addrsesContent{text-transform:uppercase; font-size:11px; line-height:14px;}

.mqabasicwnd-content input.chkavailability-enable{margin-top:10px;}

#pageNavPosition{margin-left:10px; }
#pageNavPosition span#previous{margin-right:5px;}
span#unitNo{font-family:verdana !important; font-size:11px; color:#666666 !important; font-weight:bold; }

/* #container2{float:right; margin-top:1px;} */
input#serviceAddress1{width:178px !important;}

.mqabasicwnd-bul, .mqabasicwnd-bll, .mqabasicwnd-blr, .mqabasicwnd-bleft div, .mqabasicwnd-bright div, .mqabasicwnd-btop div, .mqabasicwnd-bbottom div{background-image:url("../images/infobox2.png.html") !important;}
#unitNo{margin-top:14px; float:left;}
#result, #results{margin-left:-2px;}
#textfield{margin-top:10px;}
#poiInfoContent h2{margin-top:5px;}
#pageNavPosition {margin-top:13px}
#poiInfoContent{margin-top:4px; font-size:11px; line-height:14px;}
#poiInfoHeading{font-weight:bold;}
#addressInputOnPoi span{float:left; width:260px;}
/*#addressInputOnPoi a{text-decoration:none; cursor:default; color:#666;}
#addressInputOnPoi a:hover{color:#666;}*/
ol{margin-left:19px !important;}
#ie ol{margin-left:22px !important;}
input#unitNoInput{width:110px !important;}
#LargeZoomControl3_cControlBox{background-image:url("../images/mapquest_controls_highlight.png.html") !important;}
.boldC{font-weight:bold;}

#espopup{}
.bubbletip1 {background:url("../images/estooltippopup.png.html") !important;
    float: left;
    height: 94px;
    margin: 0px 0 0 0px;
    padding: 10px 15px;
    width: 268px; font-size:12px;
}
.notemsg{
padding-bottom: 14px;
padding-left: 20px;
padding-top: 14px;
background-color:#FEFCE1;
border:1px solid #FAF06B;
line-height: 1em;
margin: 12px;
}

#buttons input#submit{float:right; width:auto !important; height:auto !important;}


.address-list #divContent2 #addressInputOnPoi{background:#f3f9fb;}
#addressInputOnPoi span.col, #addressInputOnPoi span.col1, #addressInputOnPoi span.col2, #addressInputOnPoi span.col3, #addressInputOnPoi span.col4{float:none;}
.address-list #divContent2 #addressInputOnPoi{height:auto; border-top:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:0; border-left:1px solid #cccccc; width:446px; padding:0; }
.address-list #divContent2 #addressInputOnPoi .mb{border-bottom:1px solid #cccccc; padding:6px 0 5px; margin-bottom:0;}
.address-list #divContent2 #addressInputOnPoi input{margin:0 0 0 10px;}
#ie .address-list #divContent2 #addressInputOnPoi span{ float:left; width:auto;}
.address-list #divContent2 #addressInputOnPoi span{ float:left; width:421px;}
.address-list #divContent2 #addressInputOnPoi span.col{width:137px; margin-left:10px;}
#ie .address-list #divContent2 #addressInputOnPoi span.col{width:130px; margin-left:10px;}
.address-list #divContent2 #addressInputOnPoi span.col1{width:94px; margin-left:10px;}
.address-list #divContent2 #addressInputOnPoi span.col2{width:95px; margin-left:10px;}
.address-list #divContent2 #addressInputOnPoi span.col3{width:55px; margin-left:10px;}
