/*1320049434,169775813*/

.sp_7u0l23{background-image:url(../../ym/r/T19CculUNy1.png);background-repeat:no-repeat;display:inline-block;height:23px;width:23px}
.sx_0eb3d5{width:14px;height:9px;background-position:-34px -66px}
.sx_95b642{width:81px;height:17px;background-position:-0px -0px}
.sx_d65aee{background-position:-0px -18px}
.sx_f90217{background-position:-24px -18px}
.sx_8ee7b8{background-position:-48px -18px}
.sx_956bac{background-position:-0px -42px}
.sx_96f890{background-position:-24px -42px}
.sx_07c173{background-position:-48px -42px}
.sx_59a603{width:14px;height:9px;background-position:-49px -66px}
.sx_c0cd2d{width:14px;height:9px;background-position:-64px -66px}
.sx_5fd703{width:16px;height:16px;background-position:-17px -66px}
.sx_870102{width:12px;height:12px;background-position:-0px -85px}
.sx_7f44ff{width:16px;height:18px;background-position:-0px -66px}

#bootloader_Mf_H_ { height: 42px; }