h1 img {
  margin: 0 16px 0 0;
  position: relative;
}
body.rtl h1 img {
  margin-left: 16px;

}
.x-button-basic { float:right; }
.features { list-style:none; margin:2em 0 0; padding-left:0; }
.features li { margin:0 4.9% 2em 0; width: 47.5%; float:left; display:inline;}
.features li.odd { margin-right:0 }
.features li img { float:left }
.features li h2 { margin-left:60px; font-size:1.6em; font-weight:normal; margin-bottom:0.1em }
.features li p { margin-left:60px; }