/*1311644677,169776069*/

.sp_4a6jac{background-image:url(../../y-/r/deIrY85PE2v.png);background-repeat:no-repeat;display:inline-block;height:110px;width:110px}
.sx_bfe614{background-position:-0px -0px}
.sx_6d48ce{background-position:-0px -111px}
.sx_a47f41{background-position:-0px -222px}
.sx_c13e24{background-position:-0px -333px}
.sx_6bc4a1{background-position:-0px -444px}
.sx_a52771{background-position:-0px -555px}

#bootloader_Wv3qM { height: 42px; }